@import '../../../styles/variables.scss';

body {
  font-size: 14px;
}

img {
  width: 100%;
  border-radius: inherit;
}

.name {
  font-weight: 600;
}

/* main */
.MainWrapper {
  @include wrapper-width;
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
  margin: auto;
  margin-top: $nav-height;
  font-size: 14px;

  @include media-nav-width {
    justify-content: center;
  }
}

.fa-heart {
  &.far {
    color: #5e5e5e;
  }

  &.fas {
    color: rgb(237, 73, 86);
  }
}
