/* Company Name & Etc */
$fontColor: #c4c4c4;

.company {
  .etc {
    color: $fontColor;
    margin-top: 15px;
    margin-bottom: 10px;
    line-height: 22px;
    cursor: pointer;
  }

  .name {
    color: $fontColor;
    font-weight: 600;
    cursor: pointer;
  }
}
