/* Main-right user */
.right {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  img {
    width: 60px;
    border-radius: 50%;
    margin-left: 5px;
    cursor: pointer;
  }

  .right-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 17px;
    margin-top: 10px;
    cursor: pointer;

    .right-id {
      font-weight: bold;
      margin-bottom: 3px;
    }

    .right-name {
      color: #949494;
    }
  }
}
