$gray1: #fafafa;
$gray2: #dbdbdb;
$gray3: #777777;
$lightblue: #c4e1fb;
$blue: #0095f6;
$darkblue: #0b3d6f;
$nav-height: 60px;
$nav-max-width: 935px;

%logo {
  font-family: 'Lobster', cursive;
  margin: 0;
}

@mixin wrapper-width {
  width: 100%;
  max-width: $nav-max-width;
}

@mixin border-gray {
  border: 1px solid $gray2;
}

@mixin media-nav-width {
  @media (max-width: $nav-max-width) {
    @content;
  }
}

@mixin profile-img($length) {
  @include border-gray;
  width: $length;
  height: $length;
  border-radius: 50%;
}

@mixin flex-justify-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin button-blue($font-size) {
  color: $blue;
  font-weight: 600;
  font-size: $font-size;
}
