/* Suggestion */
$followColor: #2e91ef;
$textColor: #949494;

.suggestion {
  width: 300px;
  height: 225px;
  border: 1px solid #e5e5e5;
  margin-top: 20px;
  padding-bottom: 10px;
  background-color: #ffffff;

  .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;

    span:nth-child(1) {
      color: $textColor;
      cursor: pointer;
    }

    span:nth-child(2) {
      font-weight: bold;
      color: black;
      cursor: pointer;
    }
  }

  .follow {
    color: $followColor;
    font-weight: bold;
    cursor: pointer;
  }
}

.suggestion-user {
  display: flex;
  align-items: center;
  margin-left: 15px;
  margin-bottom: 10px;

  .suggestion-img {
    width: 48px;
    border-radius: 50%;
  }

  .suggestion-info {
    width: 170px;
    padding-right: 10px;

    p {
      margin: 0 0 0 10px;
    }

    .suggestion-id {
      font-weight: bold;
      cursor: pointer;
    }

    .suggestion-name {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      color: $textColor;
    }
  }
}
