h1 {
  font-size: 1rem;
}
/* common */
body {
  background-color: #fafafa;
}

/* Main */
.main {
  display: flex;
  justify-content: center;
  background-color: #fafafa;
  /* background-color: red; */
}
