/* Main--right Story */
$textColor: #949494;

.story {
  width: 300px;
  height: 250px;
  border: 1px solid #e5e5e5;
  margin-top: 20px;
  background-color: #ffffff;
  overflow: auto;

  .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;

    span:nth-child(1) {
      color: $textColor;
      cursor: pointer;
    }

    span:nth-child(2) {
      font-weight: bold;
      color: black;
      cursor: pointer;
    }
  }

  .story-user {
    display: flex;
    align-items: center;
    margin-left: 15px;
    margin-bottom: 10px;

    img {
      width: 48px;
      border-radius: 50%;
    }

    .story-info {
      p {
        margin: 0 0 0 10px;
      }

      .story-id {
        font-weight: bold;
      }

      .story-name {
        color: $textColor;
      }
    }
  }
}

::-webkit-scrollbar {
  display: none;
}
