@import '../../styles/variables.scss';

/* nav */
.Nav {
  position: relative;
  %nav-container {
    position: fixed;
    top: 0;
    width: 100%;
  }

  nav {
    @extend %nav-container;
    border-bottom: 1px solid $gray2;
    background-color: white;

    .nav-wrapper {
      @include wrapper-width;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      height: $desktop-nav-height;
      padding: 14px 0 12px;
      margin: auto;

      .logo {
        @extend %logo;
        font-size: 2.5rem;
      }

      /* 검색창 */
      .search {
        position: relative;

        input {
          @include border-gray;
          width: 293px;
          min-width: 125px;
          height: 36px;
          padding: 3px 32px;
          border-radius: 3px;
          background-color: $gray1;

          &:focus {
            padding: 3px 12px;
          }
        }

        i.fa-search {
          position: absolute;
          top: 10px;
          left: 12px;
          width: 8px;
          height: 8px;
          color: $gray2;
        }
      }

      /* nav 오른쪽 메뉴 */
      .menu-wrapper {
        display: flex;
        justify-content: space-between;
        width: 120px;

        .menu {
          width: 24px;
          height: 24px;
          cursor: pointer;
        }
      }
    }
  }
}
